version: "3"
networks:
  docker-compose-example-tier:
    driver: bridge
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      HISTFILE: /app/tmp/ash_history
    volumes:
      - .:/app
    networks:
      - docker-compose-example-tier
